@charset "utf-8";
/* CSS Document */

.window{
	height:200px;
	width:600px;
	font-size:11px;
	float:left;
		}
.menu-window
{
	width:100%;
	height:25px;
	background:#293E54;
	
}

.jlk
{
	float:left;
}
#obraz
{
	visibility:hidden;
	float:left;
}
