@charset "utf-8";
/* CSS Document */
.worceplace{
	background-color:#FFFFFF;
	padding:1px;
	margin:1px;
	}
.wind{
	height:190px;
	width:170px;
	font-size:11px;
	float:left;
	}
.window{
	height:200px;
	width:600px;
	font-size:11px;
	float:left;
		}
.menu-window
{
	width:100%;
	height:25px;
	background:#293E54;
	
}

.jlk
{
	float:left;
}
#obraz
{
	visibility:hidden;
	float:left;
}
#home
{
	height:100%;
}
.lol
	{
	color:#81BEFF;
	font-size:12px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	margin:2px;
	text-decoration:none;
	margin:1px;

	}
.lol_text
	{
		font-size:12px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	display:inline;
	margin:5px;
	}
.lol input
			{
				display:inline;
			}
			
.lettering
	{
	color:#000;
	font-size:12px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	margin:2px;
	text-decoration:none;
	margin:1px;

	}
	.text_area{
		overflow:auto;
			word-wrap: break-word;
		margin:2px;
		padding:0px;
		height:100%;
		width:100%;
		background-color:#FFF;
		
		}
		
	#footer{
		position:absolute;
		bottom:0%;
		width:100%;
		height:50px;
		border-width:2px;
		border-color:#30384A;
    	color: #fff;
        border: 1px solid #9c9c9c; /* Запасной стиль */
    	border: 1px solid rgba(0, 0, 0, 0.3);            
    	text-shadow: 0 1px 0 rgba(0,0,0,0.4);
        box-shadow: 0 0 .05em rgba(0,0,0,0.4);
		background-color:#24364A;
		background: -webkit-linear-gradient(top, bottom, #24364A, #141E2A); 
		background: -moz-linear-gradient(top,  #24364A, #141E2A); 
		background: -o-linear-gradient(top,  #24364A,  #141E2A); 
		background: -ms-linear-gradient(top,  #24364A, #141E2A);
		background: linear-gradient(to top,  #24364A, #141E2A);
		color:#81BEFF;
		font-size:12px;
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
		}
		#footer div{
			padding-left:8px;
			position:absolute;
			bottom:40%;
			}