@charset "utf-8";
/* CSS Document */
.connect_status_on
{
	float:right;
	color:#88E0FF;
	display:inline;
}
.connect_status_off
{
	float:right;
	color:#EA1714;
	display:inline;
}
.main_area
{
	float:right;
	height:100%;
	width:100%;
	background-color:#E1E1FF;
}
.menu
{
	float:right;
	width:200px;
	height:100%;
	margin:0px;
	background-color:#24364A;
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8) ;
       -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8) ;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.8) ;
	}
.body
{
	margin:0px;
}
.shapka
{
	
	margin:0px;
	background-color:#1E2E3E;
	font-size:12px;
	font-family:Tahoma, Geneva, sans-serif;
	color:#FFF;
	height:20px;
	cursor:pointer;
	border-bottom-width:1px;
	border-bottom-style:ridge;
	border-color:#212632;
	margin:1px;
}
.date
	{
		margin:0px;
		height:100%;
	}
.konteyner
{
	top:0px;
	left:0px;
	height:39px;
	border-bottom-color:#212632;
	border-bottom-style:solid;
	border-bottom-width:1px;
	background-color:#1D2B3B;
	display:none;
	}

	.button
		{
		float:left;
		font-weight:bold;
		cursor:pointer;
		height:15px;
		border-width:1px;
		border-color:#30384A;
		margin:2px;
    	text-align: center;
    	color: #fff;
        border: 1px solid #9c9c9c; /* Запасной стиль */
    	border: 1px solid rgba(0, 0, 0, 0.3);            
    	text-shadow: 0 1px 0 rgba(0,0,0,0.4);
        box-shadow: 0 0 .05em rgba(0,0,0,0.4);
		background-color:#24364A;
		-moz-border-radius: .3em;
    	border-radius: .3em;
		}

	.button:active
			{
				position: relative;
    			top: 1px;
				height:15px;
				background-color:#13162F;
			}
	
.krest
{
	display:inline;
	margin:0px;
	cursor:pointer;
	float:right;	
}

	.hed
	{
		font-size:12px;
		font-family:Tahoma, Geneva, sans-serif;
		color:#81BEFF;
		height:19px;
		width:640px;
		background-color:#334B65;
	}
#draggable{
	height:200px;
		width:600px;
}
#tabs div{
	padding:0px;
	}