@charset "utf-8";
/* CSS Document */
.frame
	{
		max-height:240px;
		color:#000;
		height:100%;
		width:100%;
		margin:2px;
		overflow:auto;
		font-size:14px;
	}

.kod
	{
		max-height:240px;
		background-color:#FFFFFF;
		color:#000;
		min-height:200px;
		min-width:592px;
		margin:2px;
		font-family:"Courier New", Courier, monospace;
		font-size:14px;
		overflow:auto;
	}
.stroka
		{
		}
	
.activ_string
			{
				background-color:#EAEAFF;
			}	
2q